<?xml version="1.0"?>
<model>
  <name>Stuko's Circular Object</name>               <!-- nome che compare nella categoria "Insert" di Gazebo -->
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Riccardo Stucovitz</name>
    <email>riccardo.stucovitz@gmail.com</email>
  </author>

  <description>
    <p>per homework 3</p>
  </description>
</model>